<!-- $Id$ -->

	<!-- ###BASKET_REQUIRED_INFO_MISSING### begin
	If payment is initiated but the required information fields are not filled in correctly, this happens-->

	<div class="BASKET_REQUIRED_INFO_MISSING">
	 ###BASKET_REQUIRED_MESSAGE_ERROR###<br /><br />
	<p> ###BASKET_REQUIRED_MESSAGE_MISSING### <br /> ###ERROR_DETAILS###</p><br />
	<p>###BASKET_REQUIRED_MESSAGE_FIX###<br />

	  <form method="post" action="###FORM_URL###">
	  <input type="submit" id="button3" name="products_info" value="###BASKET_REQUIRED_BUTTON_FIX###" onclick="document.forms[0].action='###FORM_URL_INFO###';">
	  </form>
	</div>

	<!-- ###BASKET_REQUIRED_INFO_MISSING### end -->

	<!--###MESSAGE_MINPRICE_ERROR### begin-->

		<div class="message_minprice_error">###BASKET_MINPRICE_ERROR### </div>

	<!--###MESSAGE_MINPRICE_ERROR### end-->

	<!-- ###BASKET_TEMPLATE_EMPTY### begin
	If the basket is empty this subpart is displayed -->

	<div class="BASKET_TEMPLATE_EMPTY">
	 ###BASKET_EMPTY###
	</div>

	<!-- ###BASKET_TEMPLATE_EMPTY### end -->

