<!-- $Id$ -->

<!-- ###BASKET_OVERVIEW_TEMPLATE### begin -->
  <div class="shop_minibasket">
	<h2 class="basket_mini_header">###BASKET_MINI_HEADER###</h2>
	<div class="shop_minibasket_image" ><!--###LINK_BASKET###-->###IMAGE_BASKET### <!--###LINK_BASKET###--></div>
    <p>###YOU_HAVE### ###NUMBER_GOODSTOTAL### ###TEXT_PRESENT### (###P_CURRENCY### ###PRICE_GOODSTOTAL_TAX###) ###IN_YOUR_BASKET###.</p>
<!-- ###BASKET_OVERVIEW_TEMPLATE### end -->



<!-- ###BASKET_OVERVIEW_EMPTY### begin -->
  <p>###BASKET_MINI_EMPTY###</p>
<!-- ###BASKET_OVERVIEW_EMPTY### end -->
   </div>