.boxMain > div {
  flex: auto;
  flex-direction: row;
  background-color: #f1f1f1;
  margin: 1px;
  padding: 5px;
  font-size: 12px;
}

div[class^='boxBasket'],
div[class^='boxInfo'] {
  display: flex;
  background-color: #F3F7FC;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.tableHeaders,
.boxBasket2,
.boxShipping,
.boxPayment {
  display: flex;
  flex-direction: column;
}
    
.boxBasket3,
.boxBasket5 {
  flex-wrap: wrap;
  justify-content: space-between;
}

.tableHeaders {
  flex: auto;
}

div[class^='viewColumnItem'] {
  flex: 1;
}


div[class^='viewColumnPrice'] {
  flex: 0 0 80px;
}

div[class^='viewColumnQuantity'] {
  flex: 0 0 40px;
}

div[class^='viewColumnTotal'] {
  flex: 0 0 80px;
}

.viewShippingValue,
.viewPaymentValue,
.viewRowPrice {
  display: flex;
  flex-direction:row;
  flex: 1;
  margin:30px;
  width: 98%;
  padding:5px;
}

.viewShippingValue > div,
.viewPaymentValue > div,
.viewRowPrice > div {
  flex: 1 1 auto;
  text-align:right;
  margin-right:30px;
}

.viewLabelValue {
  display: flex;
  flex-direction:column;    
}


