div[class^='box_ORDERCONFIRMATION'] {
  display: flex;
  background-color: #F3F7FC;
  flex-wrap: wrap;
  justify-content: flex-end;
}


.box_ORDERCONFIRMATION2 {
  flex-direction: row;
  flex-wrap: wrap;
}


div[class='box_ORDERCONFIRMATION3'],
div[class='box_ORDERCONFIRMATION4'],
div[class='box_ORDERCONFIRMATION5'],
div[class='box_ORDERCONFIRMATION6'],
div[class='box_ORDERCONFIRMATION7'] {
  flex-direction: column;
}

.box_ORDERCONFIRMATION3 > div,
.box_ORDERCONFIRMATION4 > div {
  display: flex;
  justify-content: center;
}

.box_ORDERCONFIRMATION5 > div,
.box_ORDERCONFIRMATION6 > div,
.box_ORDERCONFIRMATION7 > div {
  display: flex;
  justify-content: flex-end;
}


