
div[class^='boxPayment'] {
  display: flex;
  background-color: #F3F7FC;
  flex-wrap: wrap;
  justify-content: flex-end;
}

div[class='boxPaymentBilling'],
div[class='boxPaymentDelivery'] {
  flex-direction: column;
}


.boxPaymentBilling > div,
.boxPaymentDelivery > div,
.boxPaymentScript > div {
  justify-content: center;
}

.viewRowShipping,
.viewRowPayment {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.viewRowShipping > div,
.viewRowPayment > div {
  display: flex;
}

.boxPayment7 > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}


.viewRowPaymentPrice > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.boxPaymentSubmit > div {
  display: flex;
  justify-content: center;
}

