<h3>BASKET_INFO_TEMPLATE</h3>
<em>
Subpart used if the GPvar "products_info" was set. This is normally used to let people enter address information separately from the real basket.
Exact same features as BASKET_TEMPLATE
</em>

<!-- ###BASKET_INFO_TEMPLATE### begin
Subpart used if the GPvar "products_info" was set. This is normally used to let people enter address information separately from the real basket
Exact same features as BASKET_TEMPLATE
-->

<form method="post" action="###FORM_URL###" name="###FORM_NAME###" id="registrationForm">
  <div class="boxMain">
  <!-- ###BILLING_ADDRESS### start -->
	<div id="text_rechnungsanschrift_BASKETINFO">
		###BASKET_BILLING_ADDRESS###:
	</div>
    <!-- ###BILLING_ADDRESS### start -->
	<div id="text_BILLING_ADDRESS_BASKETINFO">
		###BASKET_BILLING_ADDRESS_INPUT###
	</div>

	<div class="boxInfo1">
        <div class="viewLabelInput viewRowCompany">
            <div class="viewLabel divLabelCompany">
                <label class="labelCompany">###BASKET_COMPANY###:</label>
            </div>
            <div class="viewInput divInputCompany">
                <input type="text" name="recs[personinfo][company]" size="30" value="###PERSON_COMPANY###">
            </div>
        </div>

        <div class="viewLabelInput viewRowSalutation">
            <div class="viewLabel divLabelSalutation">
                <label class="labelSalutation">###BASKET_SALUTATION###:</label>
            </div>
            <div class="viewInput divInputSalutation">
                ###PERSON_SALUTATION###
            </div>
        </div>

        <div class="viewLabelInput viewRowName">
            <div class="viewLabel divLabelName">
                <label class="labelName">###BASKET_NAME###:</label><span class="mandatory">*</span>
            </div>
            <div class="viewInput divInputName">
                <input type="text" name="recs[personinfo][name]" size="30" value="###PERSON_NAME###">
            </div>
        </div>

        <div class="viewLabelInput viewRowAddress">
            <div class="viewLabel divLabelAddress">
                <label class="labelAddress">###BASKET_ADDRESS###:</label><span class="mandatory">*</span>
            </div>
            <div class="viewInput divInputAddress">
                <input type="text" name="recs[personinfo][address]" size="30" value="###PERSON_ADDRESS###">
            </div>
        </div>

        <div class="viewLabelInput viewRowZip">
            <div class="viewLabel divLabelZip">
                <label class="labelZip">###BASKET_ZIP###:</label><span class="mandatory">*</span>
            </div>
            <div class="viewInput divInputZip">
                <input type="text" name="recs[personinfo][zip]" size="10" value="###PERSON_ZIP###">
            </div>
        </div>

        <div class="viewLabelInput viewRowCity">
            <div class="viewLabel divLabelCity">
                <label class="labelCity">###BASKET_CITY###:</label><span class="mandatory">*</span>
            </div>
            <div class="viewInput divInputCity">
                <input type="text" name="recs[personinfo][city]" size="30" value="###PERSON_CITY###">
            </div>
        </div>

        <div class="viewLabelInput viewRowStaticInfoCountry">
            <div class="viewLabel divLabelStaticInfoCountry">
                <label class="labelCity">###BASKET_COUNTRY###:</label><span class="mandatory">*</span>
            </div>
            <div class="viewInput divInputStaticInfoCountry">
                ###PERSON_COUNTRY_CODE###
            </div>
        </div>

        <div class="viewLabelInput viewRowTelephone">
            <div class="viewLabel divLabelTelephone">
                <label class="labelTelephone">###BASKET_PHONE###:</label><span class="mandatory">*</span>
            </div>
            <div class="viewInput divInputTelephone">
                <input type="text" name="recs[personinfo][telephone]" size="30" value="###PERSON_TELEPHONE###">
            </div>
        </div>

        <div class="viewLabelInput viewRowEmail">
            <div class="viewLabel divLabelEmail">
                <label class="labelEmail">###BASKET_EMAIL###:</label><span class="mandatory">*</span>
            </div>
            <div class="viewInput divInputEmail">
                <input type="text" name="recs[personinfo][email]" size="30" value="###PERSON_EMAIL###">
            </div>
        </div>

        <div class="viewLabelInput viewRowTtProductsVat">
            <div class="viewLabel divLabelTtProductsVat">
                <label class="labelTtProductsVat">###BASKET_VAT_ID###:</label>
            </div>
            <div class="viewInput divInputTtProductsVat">
                <input type="text" name="recs[personinfo][tt_products_vat]" size="30" value="###PERSON_TT_PRODUCTS_VAT###">
            </div>
        </div>
    </div>

  <div class="viewLabel divLabelBasketHint">
      ###BASKET_INFO_TEXT###
  </div>

  <!-- ###BILLING_ADDRESS### end-->
  <!-- ###BILLING_ADDRESS_LOGIN### start
  If this part is not empty then this will be used instead of BILLING_ADDRESS if there is a FE-login user.-->

  <div class="boxInfo2">
    <div class="viewLabelValue viewRowCompany">
        <div class="viewLabel divLabelCompany">
            ###BASKET_COMPANY###:
        </div>
        <div class="viewValue divValueCompany">
            ###PERSON_COMPANY###
        </div>
    </div>
    <div class="viewLabelValue viewRowSalutation">
        <div class="viewLabel divLabelSalutation">
            ###BASKET_SALUTATION###:
        </div>
        <div class="viewValue divValueSalutation">
            ###PERSON_SALUTATION###
        </div>
    </div>
    <div class="viewLabelValue viewRowName">
        <div class="viewLabel divLabelName">
            ###BASKET_NAME###:
        </div>
        <div class="viewValue divValueName">
            ###PERSON_NAME###
        </div>
    </div>
    <div class="viewLabelValue viewRowAddress">
        <div class="viewLabel divLabelAddress">
            ###BASKET_ADDRESS###:
        </div>
        <div class="viewValue divValueAddress">
            ###PERSON_ADDRESS_DISPLAY###
        </div>
    </div>
    <div class="viewLabelValue viewRowTelephone">
        <div class="viewLabel divLabelTelephone">
            ###BASKET_PHONE###:
        </div>
        <div class="viewValue divValueTelephone">
            ###PERSON_TELEPHONE###
        </div>
    </div>
    <div class="viewLabelValue viewRowEmail">
        <div class="viewLabel divLabelEmail">
            ###BASKET_EMAIL###:
        </div>
        <div class="viewValue divValueEmail">
            ###PERSON_EMAIL###
        </div>
    </div>
    <div class="viewLabelValue viewRowVatId">
        <div class="viewLabel divLabelVatId">
            ###BASKET_VAT_ID###:
        </div>
        <div class="viewValue divValueVatId">
            ###PERSON_TT_PRODUCTS_VAT###
        </div>
    </div>
    <!-- ###BILLING_ADDRESS_LOGIN### end-->

    <div class="viewLabel divLabelDeliveryAddress">
        ###BASKET_DELIVERY_ADDRESS###:
    </div>
    <div class="viewLabel divLabelShipping">
        ###BASKET_SHIPPING_INFORMATION###
    </div>

    <div class="boxInfo3">
        <div class="viewLabelInput viewRowCompany">
            <div class="viewLabel divLabelCompany">
                <label class="labelCompany">###BASKET_COMPANY###:</label>
            </div>
            <div class="viewInput divInputCompany">
                <input type="text" name="recs[delivery][company]" size="30" value="###DELIVERY_COMPANY###">
            </div>
        </div>

        <div class="viewLabelInput viewRowSalutation">
            <div class="viewLabel divLabelSalutation">
                <label class="labelSalutation">###BASKET_SALUTATION###:</label>
            </div>
            <div class="viewInput divInputSalutation">
                ###DELIVERY_SALUTATION###
            </div>
        </div>

        <div class="viewLabelInput viewRowName">
            <div class="viewLabel divLabelName">
                <label class="labelName">###BASKET_NAME###:</label><span class="mandatory">*</span>
            </div>
            <div class="viewInput divInputName">
                <input type="text" name="recs[delivery][name]" size="30" value="###DELIVERY_NAME###">
            </div>
        </div>

        <div class="viewLabelInput viewRowAddress">
            <div class="viewLabel divLabelAddress">
                <label class="labelAddress">###BASKET_ADDRESS###:</label><span class="mandatory">*</span>
            </div>
            <div class="viewInput divInputAddress">
                <input type="text" name="recs[delivery][address]" size="30" value="###DELIVERY_ADDRESS###">
            </div>
        </div>

        <div class="viewLabelInput viewRowZip">
            <div class="viewLabel divLabelZip">
                <label class="labelZip">###BASKET_ZIP###:</label><span class="mandatory">*</span>
            </div>
            <div class="viewInput divInputZip">
                <input type="text" name="recs[delivery][zip]" size="10" value="###DELIVERY_ZIP###">
            </div>
        </div>

        <div class="viewLabelInput viewRowCity">
            <div class="viewLabel divLabelCity">
                <label class="labelCity">###BASKET_CITY###:</label><span class="mandatory">*</span>
            </div>
            <div class="viewInput divInputCity">
                <input type="text" name="recs[delivery][city]" size="30" value="###DELIVERY_CITY###">
            </div>
        </div>

        <div class="viewLabelInput viewRowStaticInfoCountry">
            <div class="viewLabel divLabelStaticInfoCountry">
                <label class="labelCity">###BASKET_COUNTRY###:</label><span class="mandatory">*</span>
            </div>
            <div class="viewInput divInputStaticInfoCountry">
                ###DELIVERY_COUNTRY_CODE###
            </div>
        </div>

        <div class="viewLabelInput viewRowTelephone">
            <div class="viewLabel divLabelTelephone">
                <label class="labelTelephone">###BASKET_PHONE###:</label><span class="mandatory">*</span>
            </div>
            <div class="viewInput divInputTelephone">
                <input type="text" name="recs[delivery][telephone]" size="30" value="###DELIVERY_TELEPHONE###">
            </div>
        </div>

        <div class="viewLabelInput viewRowEmail">
            <div class="viewLabel divLabelEmail">
                <label class="labelEmail">###BASKET_EMAIL###:</label><span class="mandatory">*</span>
            </div>
            <div class="viewInput divInputEmail">
                <input type="text" name="recs[delivery][email]" size="30" value="###DELIVERY_EMAIL###">
            </div>
        </div>

        <div class="viewLabelInput viewRowDesiredDate">
            <div class="viewLabel divLabelDesiredDate">
                <label class="labelDesiredDate">###BASKET_PAYMENT_SHIPPING_DATE###:</label>
            </div>
            <div class="viewInput divInputDesiredDate">
                <input type="text" name="recs[delivery][desired_date]" size="30" value="###DELIVERY_DESIRED_DATE###">
            </div>
        </div>

        <div class="viewLabelInput viewRowNote">
            <div class="viewLabel divLabelNote">
                <label class="labelNote">###BASKET_PAYMENT_COMMENT###:</label>
            </div>
            <div class="formTextarea divTextareaNote">
                <textarea cols="25" rows="5" name="recs[delivery][note]">###DELIVERY_NOTE###</textarea>
            </div>
        </div>
   </div>

   <div class="boxInfo4">
        <div class="viewLabelInput viewRowAgb">
            <div class="viewLabel divLabelAgb">
                <label class="labelAgb">###BASKET_TERMS_ACK###:</label>
            </div>
            <div class="viewInput divInputAgb">
                <input type="checkbox" class="check_agb" name="recs[personinfo][agb]" ###PERSON_AGB###>
            </div>
            <!--###LINK_AGB###--> ###BASKET_TERMS### ###BASKET_TERMS_AND### ###BASKET_RIGHT_OF_REVOCATION###<!--###LINK_AGB###--> 
            <div class="viewLabel divLabelTermsRead">
                <label class="labelTermsRead">###BASKET_TERMS_READ###:</label>
            </div>
        </div>

        <div class="viewLabelInput viewRowPrivacy">
            <div class="viewLabel divLabelPrivacy">
                <label class="labelPrivacy">###BASKET_TERMS_ACK###:</label>
            </div>
            <div class="viewInput divInputPrivacy">
                <input type="checkbox" name="recs[personinfo][privacy]" onchange="document.getElementsByName('tt_products[activity][payment]')[0].disabled=!document.getElementsByName('recs[personinfo][privacy]')[0].checked;">
            </div>
            <!--###LINK_PRIVACY### -->###BASKET_PRIVACY_POLICY###<!--###LINK_PRIVACY### -->
            <div class="viewLabel divLabelPrivacyAgree">
                <label class="labelPrivacyAgree1">###BASKET_PRIVACY_POLICY_AGREE_1###</label> 
                <label class="labelPrivacyAgree2">###BASKET_PRIVACY_POLICY_AGREE_2###</label>
                <label class="labelPrivacyHint">###BASKET_PRIVACY_POLICY_HINT###:</label>
                <label class="labelPrivacyHint1">###BASKET_PRIVACY_POLICY_HINT_1###</label>
            </div>
        </div>
    </div>

    <div class="viewInput divInputHidden">
        ###HIDDENFIELDS###
    </div>
    <div class="viewInput divInputSubmit">
      <input type="submit" class="inputSubmit" id="button5" name="products_update" value="###BASKET_BACK_TO_CART###" onclick="this.form.action='###FORM_URL_BASKET###';">
      <input type="submit" class="inputSubmit" id="button4" name="tt_products[activity][payment]" value="###BASKET_PAYMENT_CHECKOUT###" disabled onclick="this.form.action='###FORM_URL_PAYMENT###';">
    </div>
  </div>
</form>

  <!-- ###BASKET_INFO_TEMPLATE### end -->


