<!-- ###ITEM_LIST_TEMPLATE### begin -->

  <div class="pagebrowser_list">
    <!-- ###LINK_PREV### --><span class="linkPrevious">&laquo; ###LIST_PREV_PAGE###</span><!-- ###LINK_PREV### -->
    <!-- ###LINK_BROWSE### begin -->[ ###BROWSE_LINKS### ]<!-- ###LINK_BROWSE### end-->
    <!-- ###LINK_NEXT### --><span class="linkNext">###LIST_NEXT_PAGE###&raquo;</span><!-- ###LINK_NEXT### -->
  </div>

    <!-- ###ITEM_CATEGORY_AND_ITEMS### begin -->
    <!-- ###ITEM_CATEGORY### begin -->
    <!-- ###ITEM_CATEGORY### end -->
    <!-- ###ITEM_LIST### begin -->
    <!-- ###ITEM_SINGLE### begin-->
    <!-- ###ITEM_SINGLE_PRE_HTML### -->
  <form method="post" action="###FORM_URL###" name="###FORM_NAME###">
    <div class="boxMain">

      <div class="boxList">
        <div class="boxList1">
            <div class="viewLabelValue viewRowTitle">
                <div class="viewValue divValueTitle">
                    <!--###LINK_ITEM###--><div id="###PRODUCT_TITLE_ID###">###PRODUCT_TITLE###</div><!--###LINK_ITEM###-->
                </div>
            </div>
            <div class="viewLabelValue viewRowSubtitle">
                <div class="viewValue divValueSubtitle">
                    <div id="###PRODUCT_SUBTITLE_ID###">###PRODUCT_SUBTITLE###</div>
                </div>
            </div>
        </div>

        <div class="boxList2">
            <div class="viewLabelValue viewRowImage">
                <div class="viewValue divValueImage">
                    <!--###LINK_ITEM###-->###PRODUCT_IMAGE###<!--###LINK_ITEM###-->
                </div>
            </div>
            <div class="viewLabelValue viewRowNote">
                <div class="viewValue divValueNote">
                    ###PRODUCT_NOTE### <!-- ###LINK_ITEM### -->» mehr Informationen...<!-- ###LINK_ITEM### -->
                </div>
            </div>
        </div>

        <div class="boxListVariants">
            <!-- ###display_variant1### -->
            <div class="viewLabelInput viewRowColor">
                <div class="viewLabel divLabelColor">
                ###P_COLOR###
                </div>
                <div class="viewInput divInputColor">
                    <select name="###FIELD_COLOR_NAME###" id="###PRODUCT_COLOR_ID###" onchange=" ###PRODUCT_COLOR_FUNCTION1###" class="inputColor">###PRODUCT_COLOR###</select>
                </div>
            </div>
            <!-- ###display_variant1### -->

            <!-- ###display_variant2### -->
            <div class="viewLabelInput viewRowSize">
                <div class="viewLabel divLabelSize">
                ###P_SIZE###
                </div>
                <div class="viewInput divInputSize">
                    <select name="###FIELD_SIZE_NAME###" id="###PRODUCT_SIZE_ID###" onchange=" ###PRODUCT_SIZE_FUNCTION1###" class="inputSize">###PRODUCT_SIZE###</select>
                </div>
            </div>
            <!-- ###display_variant2### -->

            <!-- ###display_variant3### -->
            <div class="viewLabelInput viewRowDescription">
                <div class="viewLabel divLabelDescription">
                ###P_DESCRIPTION###
                </div>
                <div class="viewInput divInputDescription">
                    <select name="###FIELD_DESCRIPTION_NAME###" id="###PRODUCT_DESCRIPTION_ID###" onchange=" ###PRODUCT_DESCRIPTION_FUNCTION1###" class="inputDescription">###PRODUCT_DESCRIPTION###</select>
                </div>
            </div>
            <!-- ###display_variant3### -->

            <!-- ###display_variant4### -->
            <div class="viewLabelInput viewRowGradings">
                <div class="viewLabel divLabelGradings">
                ###P_GRADINGS###
                </div>
                <div class="viewInput divInputGradings">
                    <select name="###FIELD_GRADINGS_NAME###" id="###PRODUCT_GRADINGS_ID###" onchange=" ###PRODUCT_GRADINGS_FUNCTION1###" class="inputGradings">###PRODUCT_GRADINGS###</select>
                </div>
            </div>
            <!-- ###display_variant4### -->

            <!-- ###display_variant6### -->
            <div class="viewLabelInput viewRowColor2">
                <div class="viewLabel divLabelColor2">
                ###P_COLOR2###
                </div>
                <div class="viewInput divInputColor2">
                    <select name="###FIELD_COLOR2_NAME###" id="###PRODUCT_COLOR2_ID###" onchange=" ###PRODUCT_COLOR2_FUNCTION1###" class="inputColor2">###PRODUCT_COLOR2###</select>
                </div>
            </div>
            <!-- ###display_variant6### -->

            <!-- ###display_variant7### -->
            <div class="viewLabelInput viewRowColor3">
                <div class="viewLabel divLabelColor3">
                ###P_COLOR3###
                </div>
                <div class="viewInput divInputColor3">
                    <select name="###FIELD_COLOR3_NAME###" id="###PRODUCT_COLOR3_ID###" onchange=" ###PRODUCT_COLOR3_FUNCTION1###" class="inputColor3">###PRODUCT_COLOR3###</select>
                </div>
            </div>
            <!-- ###display_variant7### -->

            <!-- ###display_variant8### -->
            <div class="viewLabelInput viewRowSize2">
                <div class="viewLabel divLabelSize2">
                ###P_SIZE2###
                </div>
                <div class="viewInput divInputSize2">
                    <select name="###FIELD_SIZE2_NAME###" id="###PRODUCT_SIZE2_ID###" onchange=" ###PRODUCT_SIZE2_FUNCTION1###" class="inputSize2">###PRODUCT_SIZE2###</select>
                </div>
            </div>
            <!-- ###display_variant8### -->

            <!-- ###display_variant9### -->
            <div class="viewLabelInput viewRowSize3">
                <div class="viewLabel divLabelSize3">
                ###P_SIZE3###
                </div>
                <div class="viewInput divInputSize3">
                    <select name="###FIELD_SIZE3_NAME###" id="###PRODUCT_SIZE3_ID###" onchange=" ###PRODUCT_SIZE3_FUNCTION1###" class="inputSize3">###PRODUCT_SIZE3###</select>
                </div>
            </div>
            <!-- ###display_variant9### -->

            <!-- ###display_variant10### -->
            <div class="viewLabelInput viewRowMaterial">
                <div class="viewLabel divLabelMaterial">
                ###P_MATERIAL###
                </div>
                <div class="viewInput divInputMaterial">
                    <select name="###FIELD_MATERIAL_NAME###" id="###PRODUCT_MATERIAL_ID###" onchange=" ###PRODUCT_MATERIAL_FUNCTION1###" class="inputMaterial">###PRODUCT_MATERIAL###</select>
                </div>
            </div>
            <!-- ###display_variant10### -->

            <!-- ###display_variant11### -->
            <div class="viewLabelInput viewRowQuality">
                <div class="viewLabel divLabelQuality">
                ###P_QUALITY###
                </div>
                <div class="viewInput divInputQuality">
                    <select name="###FIELD_QUALITY_NAME###" id="###PRODUCT_QUALITY_ID###" onchange=" ###PRODUCT_QUALITY_FUNCTION1###" class="inputQuality">###PRODUCT_QUALITY###</select>
                </div>
            </div>
            <!-- ###display_variant11### -->

            <!-- ###display_variant12### -->
            <div class="viewLabelInput viewRowColor4">
                <div class="viewLabel divLabelColor4">
                ###P_COLOR4###
                </div>
                <div class="viewInput divInputColor4">
                    <select name="###FIELD_COLOR4_NAME###" id="###PRODUCT_COLOR4_ID###" onchange=" ###PRODUCT_COLOR4_FUNCTION1###" class="inputColor4">###PRODUCT_COLOR4###</select>
                </div>
            </div>
            <!-- ###display_variant12### -->

            <!-- ###display_variant13### -->
            <div class="viewLabelInput viewRowSize4">
                <div class="viewLabel divLabelSize4">
                ###P_SIZE4###
                </div>
                <div class="viewInput divInputSize4">
                    <select name="###FIELD_SIZE4_NAME###" id="###PRODUCT_SIZE4_ID###" onchange=" ###PRODUCT_SIZE4_FUNCTION1###" class="inputSize4">###PRODUCT_SIZE4###</select>
                </div>
            </div>
            <!-- ###display_variant13### -->

            <!-- ###display_variant14### -->
            <div class="viewLabelInput viewRowDescription2">
                <div class="viewLabel divLabelDescription2">
                ###P_DESCRIPTION2###
                </div>
                <div class="viewInput divInputDescription2">
                    <select name="###FIELD_DESCRIPTION2_NAME###" id="###PRODUCT_DESCRIPTION2_ID###" onchange=" ###PRODUCT_DESCRIPTION2_FUNCTION1###" class="inputDescription2">###PRODUCT_DESCRIPTION2###</select>
                </div>
            </div>
            <!-- ###display_variant14### -->

            <!-- ###display_variant15### -->
            <div class="viewLabelInput viewRowDescription3">
                <div class="viewLabel divLabelDescription3">
                ###P_DESCRIPTION3###
                </div>
                <div class="viewInput divInputDescription3">
                    <select name="###FIELD_DESCRIPTION3_NAME###" id="###PRODUCT_DESCRIPTION3_ID###" onchange=" ###PRODUCT_DESCRIPTION3_FUNCTION1###" class="inputDescription3">###PRODUCT_DESCRIPTION3###</select>
                </div>
            </div>
            <!-- ###display_variant15### -->

            <!-- ###display_variant16### -->
            <div class="viewLabelInput viewRowForm">
                <div class="viewLabel divLabelForm">
                ###P_FORM###
                </div>
                <div class="viewInput divInputForm">
                    <select name="###FIELD_FORM_NAME###" id="###PRODUCT_FORM_ID###" onchange=" ###PRODUCT_FORM_FUNCTION1###" class="inputForm">###PRODUCT_FORM###</select>
                </div>
            </div>
            <!-- ###display_variant16### -->

            <!-- ###display_variant17### -->
            <div class="viewLabelInput viewRowForm2">
                <div class="viewLabel divLabelForm2">
                ###P_FORM2###
                </div>
                <div class="viewInput divInputForm2">
                    <select name="###FIELD_FORM2_NAME###" id="###PRODUCT_FORM2_ID###" onchange=" ###PRODUCT_FORM2_FUNCTION1###" class="inputForm2">###PRODUCT_FORM2###</select>
                </div>
            </div>
            <!-- ###display_variant17### -->

            <!-- ###display_variant18### -->
            <div class="viewLabelInput viewRowType">
                <div class="viewLabel divLabelType">
                ###P_TYPE###
                </div>
                <div class="viewInput divInputType">
                    <select name="###FIELD_TYPE_NAME###" id="###PRODUCT_TYPE_ID###" onchange=" ###PRODUCT_TYPE_FUNCTION1###" class="inputType">###PRODUCT_TYPE###</select>
                </div>
            </div>
            <!-- ###display_variant18### -->

            <!-- ###display_variant19### -->
            <div class="viewLabelInput viewRowPattern">
                <div class="viewLabel divLabelPattern">
                ###P_PATTERN###
                </div>
                <div class="viewInput divInputPattern">
                    <select name="###FIELD_PATTERN_NAME###" id="###PRODUCT_PATTERN_ID###" onchange=" ###PRODUCT_PATTERN_FUNCTION1###" class="inputPattern">###PRODUCT_PATTERN###</select>
                </div>
            </div>
            <!-- ###display_variant19### -->

            <!-- ###display_variant20### -->
            <div class="viewLabelInput viewRowSurface">
                <div class="viewLabel divLabelSurface">
                ###P_SURFACE###
                </div>
                <div class="viewInput divInputSurface">
                    <select name="###FIELD_SURFACE_NAME###" id="###PRODUCT_SURFACE_ID###" onchange=" ###PRODUCT_SURFACE_FUNCTION1###" class="inputSurface">###PRODUCT_SURFACE###</select>
                </div>
            </div>
            <!-- ###display_variant20### -->

            <!-- ###display_variant21### -->
            <div class="viewLabelInput viewRowAngular">
                <div class="viewLabel divLabelAngular">
                ###P_ANGULAR###
                </div>
                <div class="viewInput divInputAngular">
                    <select name="###FIELD_ANGULAR_NAME###" id="###PRODUCT_ANGULAR_ID###" onchange=" ###PRODUCT_ANGULAR_FUNCTION1###" class="inputAngular">###PRODUCT_ANGULAR###</select>
                </div>
            </div>
            <!-- ###display_variant21### -->

            <!-- ###display_variant22### -->
            <div class="viewLabelInput viewRowTime">
                <div class="viewLabel divLabelTime">
                ###P_TIME###
                </div>
                <div class="viewInput divInputTime">
                    <select name="###FIELD_TIME_NAME###" id="###PRODUCT_TIME_ID###" onchange=" ###PRODUCT_TIME_FUNCTION1###" class="inputTime">###PRODUCT_TIME###</select>
                </div>
            </div>
            <!-- ###display_variant22### -->

            <!-- ###display_variant23### -->
            <div class="viewLabelInput viewRowTime2">
                <div class="viewLabel divLabelTime2">
                ###P_TIME2###
                </div>
                <div class="viewInput divInputTime2">
                    <select name="###FIELD_TIME2_NAME###" id="###PRODUCT_TIME2_ID###" onchange=" ###PRODUCT_TIME2_FUNCTION1###" class="inputTime2">###PRODUCT_TIME2###</select>
                </div>
            </div>
            <!-- ###display_variant23### -->

            <!-- ###display_variant24### -->
            <div class="viewLabelInput viewRowGuarantee">
                <div class="viewLabel divLabelGuarantee">
                ###P_GUARANTEE###
                </div>
                <div class="viewInput divInputGuarantee">
                    <select name="###FIELD_GUARANTEE_NAME###" id="###PRODUCT_GUARANTEE_ID###" onchange=" ###PRODUCT_GUARANTEE_FUNCTION1###" class="inputGuarantee">###PRODUCT_GUARANTEE###</select>
                </div>
            </div>
            <!-- ###display_variant24### -->

            <!-- ###display_variant25### -->
            <div class="viewLabelInput viewRowElements">
                <div class="viewLabel divLabelElements">
                ###P_ELEMENTS###
                </div>
                <div class="viewInput divInputElements">
                    <select name="###FIELD_ELEMENTS_NAME###" id="###PRODUCT_ELEMENTS_ID###" onchange=" ###PRODUCT_ELEMENTS_FUNCTION1###" class="inputElements">###PRODUCT_ELEMENTS###</select>
                </div>
            </div>
            <!-- ###display_variant25### -->

            <!-- ###display_variant26### -->
            <div class="viewLabelInput viewRowBoundary">
                <div class="viewLabel divLabelBoundary">
                ###P_BOUNDARY###
                </div>
                <div class="viewInput divInputBoundary">
                    <select name="###FIELD_BOUNDARY_NAME###" id="###PRODUCT_BOUNDARY_ID###" onchange=" ###PRODUCT_BOUNDARY_FUNCTION1###" class="inputBoundary">###PRODUCT_BOUNDARY###</select>
                </div>
            </div>
            <!-- ###display_variant26### -->

            <!-- ###display_variant27### -->
            <div class="viewLabelInput viewRowCosts">
                <div class="viewLabel divLabelCosts">
                ###P_COSTS###
                </div>
                <div class="viewInput divInputCosts">
                    <select name="###FIELD_COSTS_NAME###" id="###PRODUCT_COSTS_ID###" onchange=" ###PRODUCT_COSTS_FUNCTION1###" class="inputCosts">###PRODUCT_COSTS###</select>
                </div>
            </div>
            <!-- ###display_variant27### -->
        </div>


        <div class="boxList3">
            <div class="viewLabelValue viewRowItemnumber">
                <div class="viewValue divValueItemnumber">
                    <span class="###PRODUCT_ITEMNUMBER_ID###">###PRODUCT_ITEMNUMBER###</span>
                </div>
            </div>

            <div class="viewLabelValue viewRowPrice">
                <div class="viewValue divValuePriceTax">
                ###INCL_VAT###&nbsp;<span id="###PRICE_TAX_ID###">###PRICE_TAX###</span> ###P_CURRENCY###
                </div>
            </div>
        </div>

        <div class="intobasket">

            <div class="viewLabelInput viewBasketQuantity">
                <div class="viewLabel divLabelBasketQuantity">
                ###LIST_ITEM_QUANTITY###
                </div>
                <div class="viewInput divInputQuantity">
                <input size="4" maxlength="4" type="text" name="###FIELD_NAME###" value="###FIELD_QTY###">
                </div>
            </div>

            <div class="viewLabelInput viewBasketAddition">
                <div class="viewInput divInputAddition">
                <input type="image" src="/fileadmin/Resources/Public/Extensions/Tt_products/Grafics/cart_add.png" name="basket" id="inputimage" alt="Jetzt Kaufen" title="###LIST_BUY_NOW###" onClick="document.forms['###FORM_NAME###']['###FIELD_NAME###'].value=1;">
                </div>
            </div>
        </div>

    </div>

  </div>
  </form>
    <!-- ###ITEM_SINGLE_POST_HTML### -->
    <!-- ###ITEM_SINGLE### end -->
    <!-- ###ITEM_LIST### end -->
    <!-- ###ITEM_CATEGORY_AND_ITEMS### end -->

  <div class="pagebrowserbottom_list">
    <!-- ###LINK_PREV### --><span class="linkPrevious">&laquo; ###LIST_PREV_PAGE###</span><!-- ###LINK_PREV### -->
    <!-- ###LINK_BROWSE### begin -->[ ###BROWSE_LINKS### ]<!-- ###LINK_BROWSE### end-->
    <!-- ###LINK_NEXT### --><span class="linkNext">###LIST_NEXT_PAGE###&raquo;</span><!-- ###LINK_NEXT### -->
  </div>

<!-- ###ITEM_LIST_TEMPLATE### end -->


<!-- ###ITEM_LIST_EMPTY###  begin -->


<!-- ###ITEM_LIST_EMPTY### end -->



<!-- ###ITEM_SEARCH### begin
Subpart for the search-form
-->
<form method="post" action="###FORM_URL###">
  <div class="boxMain">
    <div class="viewInput divInputSubmit">
        <input type="text" class="inputSearch" size="30" maxlength="100" name="###SWORD_NAME###" value="###SWORD###">
        <input type="submit" class="inputSubmit" name="search" value="Suchen">
    </div>
  </div>
</form>
<!-- ###ITEM_SEARCH### end -->



